@import "tailwindcss";

@theme {
  --color-primary: #F97316;
  --color-backgroud: #FFF5EE;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #9CA3AF;
  --color-settled-bg: #EAFAF4;
  --color-settled-text: #27A96B;
}

.gradient-button {
  background-image: linear-gradient(to bottom, #FB923C, #EA6C10);
  border-bottom: 1px solid #C2560D;
}